.search {
    padding-bottom: 20px;
    margin: 25px 0 0px;
    border-bottom: 1px solid #eee;
}

.notes {
    margin: 0 0 0;
}

.note {
    border-bottom: 1px solid #dedcdc;
    padding-top: 10px;
}

.add {
    margin: 25px 0 0;
}

.add_btn {
    text-align: center;
}

.add_text a {
    font-size: 20px;
}

.name {
    font-size: 25px;
    text-align: center;
}

.buttons {
    text-align: center;
    padding-top: 5px;
}

.buttons form, p {
    display: inline-block;
}

.btn {
    margin-left: 15px;
    margin-right: 15px;
    width: 100px;
}

.col-sm-10 .btn {
    margin: 0 0 0;
    font-size: 20px;
}

.bs-glyphicons {
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 95px;
    font-size: 30px;
}

.bs-glyphicons form {
    display: inline-block;
}

.likes {
    font-size: 30px;
    color: #518CE4;
}