<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="page-header">
        <h1><a id="title" href="{{ url_for('index') }}">My Notes</a></h1>
    </div>
    <div class="row search">
        <div class="col-md-8">
            <form action="{{ url_for('search') }}" method="GET">
                <div class="input-group">
                    {% if search %}
                        <input type="text" name="search" value="{{ search }}" class="form-control" placeholder="Search for...">
                    {% else %}
                        <input type="text" name="search" class="form-control" placeholder="Search for...">
                    {% endif %}
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">Go!</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <div class="row notes">
        <ul class="nav nav-tabs">
            <li role="presentation" class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false">
                    Sort <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    <li><a id="sort_asc" href="{{ url_for('sorted_asc') }}">Sort by Importance (ASC)</a></li>
                    <li><a id="sort_desc" href="{{ url_for('sorted_desc') }}">Sort by Importance (DESC)</a></li>
                    {% if search %}
                        <li><a id="without_sort" href="{{ url_for('without') }}">Without sort</a></li>
                    {% else %}
                        <li><a id="without_sort" href="{{ url_for('index') }}">Without sort</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>
        {% for note in notes %}
            <div class="col-md-12 note">
                <div class="col-md-2 name">
                    <p>{{ note.name }}</p>
                </div>
                <div class="col-md-4 buttons">
                    <p>
                        <a class="btn btn-primary" href="{{ url_for('edit', id=note.id) }}" role="button">Update</a>
                    </p>
                    <form action="{{ url_for('delete') }}" method="POST">
                        <input type="hidden" name="id" value="{{ note.id }}">
                        <button id="delete-{{ note.id }}" type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
                <div class="col-md-3 name">
                    <p>Importance: {{ note.importance }}</p>
                </div>
                <div class="col-md-3">
                    <div class="bs-glyphicons">
                        <form action="{{ url_for('like_plus') }}" method="POST">
                            <input type="hidden" name="id" value="{{ note.id }}">
                            <button id="like" type="submit" class="btn-link">
                                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                            </button>
                        </form>
                        <span class="likes">{{ note.likes }}</span>
                        <form action="{{ url_for('like_minus') }}" method="POST">
                            <input type="hidden" name="id" value="{{ note.id }}">
                            <button id="dislike" type="submit" class="btn-link">
                                <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row add">
        <div class="col-md-12">
            <div class="col-md-2 add_btn">
                <p class="add_text"><a class="btn btn-default" id="add" href="{{ url_for('add_form') }}" role="button">Add</a>
                </p>
            </div>
        </div>
    </div>
</div>
</body>
</html>